.container{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 50px;
}

/* -------------------------------------MOVIR DETAILS ------------------------------*/
.movie-details{
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.banner{
    height: 450px; 
}

.banner img{
    height: 100%;
    border-radius: 10px;
}

.description{
    font-size: small;
}

.details{
    text-align: left;
    line-height: 1.75;
    letter-spacing: 1.15px;
}

.details > * {
    margin: 0;
}


/* ------------------------------------------------FUNCIONES----------------------------- */
.movie-functions{
    width: 100%;
    /* display: grid; */
    /* display: flex; */
    /* flex-direction: column;     */
    align-items: center;
}



