<header class="header">
    <div class="logo">
        <a [routerLink] = "['/']">
            <img src="assets\Logo.jpg" alt="Logo de la marca">
    
        </a>
    </div>
    <nav>
       <ul class="nav-links">
            <li><a [routerLink] = "['/']">Cartelera</a></li>
            <li><a [routerLink] = "['/']">Pronto</a></li>
            <li><a [routerLink] = "['/']">Preventa</a></li>
            <li><a [routerLink] = "['/']">Mis Tickets</a></li>
            <li> <app-form-search></app-form-search> </li>
       </ul>            
    </nav>
    <div class="btn">
        <a *ngIf="!isLogged" [routerLink] = "['/login']"><button>Login</button></a>
        <a *ngIf="isLogged" [routerLink] = "['/login']" (click)="signOut()"><button>sign Out</button></a>
    </div>
    
</header>
