<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                <a [routerLink] = "['/']">
                    <img src="assets\Logo.jpg" alt="Logo de la marca">
                </a>
            </div>
            <form [formGroup]="formRegister" (ngSubmit)="signUp()">
                <div>
                    <label>Name</label>
                    <input type="text" placeholder="name" formControlName="firstName">
                </div>
                <div>
                    <label>LastName</label>
                    <input type="text" placeholder="last name" formControlName="lastName">
                </div>
                <div>
                    <label>Email</label>
                    <input type="text" placeholder="Email" formControlName="email">
                </div>
                <div>
                    <label>Password</label>
                    <input type="password" placeholder="Password" formControlName="password">
                </div>
                <div>
                    <button [disabled]="!formRegister.valid" type="submit">
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
