<div class="main">
        <div class="title-container">
            <h2>
                Movies
            </h2>
        </div>

    <div class="main-container">
    <div class="card" *ngFor="let movie of (movieList | async)" [routerLink]="['/movie-details', movie.filmId]">
        <div class="card-img">
            <img src="{{movie.posterImage}}" alt="">
        </div>
        <div class="info">
            <h3>{{movie.title}}</h3>
            <p>{{movie.genre}}</p>
        </div>

        <div [ngClass]="{'button-group': isAdmin, 'single-button-group': !isAdmin}">
            <button *ngIf="isAdmin" class="card-button card-info">Update</button>
            <button  class="card-button">More</button>
            <button *ngIf="isAdmin" class="card-button card-delete">Delete</button>
        </div>
    </div>
</div>
</div>




