<div class="main">
        <div class="title-container">
            <h2>
                Movies
            </h2>
        </div>

    <div class="main-container">
    <div class="card" *ngFor="let movie of (movieList | async)" [routerLink]="['/movie-details', movie.filmId]">
        <div class="card-img">
            <img src="{{movie.posterImage}}" alt="">
        </div>
        <div class="info">
            <h3>{{movie.title}}</h3>
            <p>Genero: {{movie.genre}}</p>
        </div>
        <button class="card-button">More</button>
    </div>
</div>
</div>

