/* You can add global styles to this file, and also import other style files */
:root {
    --primary-text: #0F172A;
    --secondary-text: #ed9644;

    --primary-color: #8455FF;
    --secondary-color: #5222D0;
    /* --secondary-color: #0833a2; */
    --third-color: #3e2eb2;
    --light-primary-color: #B79FF7;
    --bg-secondary: #351686;

    --four-color: #214fc1cc;
  }

body {
    font-family: "Roboto", sans-serif;
    /* font-family: "Roboto",'Courier New', Courier, monospace; */
    font-size: 16px;
    color: #333; /* Color de texto */
    /* background-color: #ffffff;  */
    margin: 0;
    padding: 0;
  }
  